.margin-left-20 {
  margin-left: 20px;
}

.margin-left-40 {
  margin-left: 40px;
}

mat-dialog-content {
  overflow: hidden;
  > div {
    &:first-child {
      position: absolute;
      width: 40%;
      height: calc(90vh - 90px);
      overflow-y: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      > .show {
        width: 100%;
        height: calc(100% - 57px);
        border: 1px solid rgba(250, 250, 250, 0.3);
        background: rgb(77, 77, 77);
        padding: 10px;
        overflow-y: auto;
      }
    }
    &:last-child {
      position: absolute;
      width: calc(60% - 42px);
      height: calc(90vh - 70px);
      margin-left: calc(40% + 20px);
      overflow: auto;
      padding-bottom: 50px;
    }
  }
}
