@use "@angular/material" as mat;
@include mat.core();

// Gama Colors
$custom-color-accent: (
  50: #eefae9,
  100: #d4f4c7,
  200: #b8eca2,
  300: #9ce47c,
  400: #86df60,
  500: #71d944,
  600: #69d53e,
  700: #5ecf35,
  800: #54ca2d,
  900: #42c01f,
  A100: #f9fff8,
  A200: #d0ffc5,
  A400: #a7ff92,
  A700: #93ff79,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$custom-color-primary: (
  50: #f3f8ff,
  100: #e0efff,
  200: #cce4ff,
  300: #b7d9ff,
  400: #a7d0ff,
  500: #98c8ff,
  600: #90c2ff,
  700: #85bbff,
  800: #7bb4ff,
  900: #6aa7ff,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #f2f7ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$custom-color-warn: (
  50: #f6e0e0,
  100: #eab3b3,
  200: #dc8080,
  300: #cd4d4d,
  400: #c32626,
  500: #b80000,
  600: #b10000,
  700: #a80000,
  800: #a00000,
  900: #910000,
  A100: #ffbdbd,
  A200: #ff8a8a,
  A400: #ff5757,
  A700: #ff3d3d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

// Color Pallet
$custom-palette-accent: mat.define-palette($custom-color-accent);
$custom-palette-primary: mat.define-palette($custom-color-primary);
$custom-palette-warn: mat.define-palette($custom-color-warn);

// Theme
$custom-theme: mat.define-dark-theme(
  (
    color: (
      accent: $custom-palette-accent,
      primary: $custom-palette-primary,
      warn: $custom-palette-warn,
    ),
  )
);

// Apply Theme to Angular
@include mat.core-theme($custom-theme);
@include mat.all-component-themes($custom-theme);
